.contact__container{
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;
}

.contact__bg{
    background-color: var(--color-bg-blue);
}


.contact__padding{
    padding-left: 15px;
}

.contact__link{
    text-decoration: none;
    color: white;
    padding-left: 15px;
}


@media screen and (max-width: 1024px){
    .contact__container {
      flex-direction: column;
    }
  
  }
  
  @media screen and (max-width: 600px){
    .contact__container {
        flex-direction: column;
      }
  
  }