
.skill__container{
    display: grid;
    grid-template-rows: 8rem;
    grid-template-columns: 7rem 7rem 7rem;
}

.skill__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg__circle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--color-bg-variant);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg__circle:hover{
    width: 100px;
    height: 100px;
    transition-property: "width";
    transition-duration: 10ms;
    transition-timing-function: ease-in;
}

.skill__para{
    margin: 0;
    padding: 0 1rem;
}

.experience__content{
    padding: 10px 20px;

}

.experience__list__icon{
    height: 2rem;
    width: 2rem;
    align-self: center;
}

h2{
    margin: 0;
}

.experience__list{
    display:flex;
    height:fit-content;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(81, 72, 160, 0.324), rgba(118, 106, 230, 0.1) , rgba(241, 242, 247, 0));

}

/* .experience__list:hover{
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(142, 140, 140, 0.5) , rgba(60, 60, 59, 0));
} */

.experience__container{
    display:flex;
}


@media screen and (max-width: 1024px){
    .experience__container{
      flex-direction: column;
    }
  
  }
  
  @media screen and (max-width: 600px){
    .experience__container{
        flex-direction: column;
      }
  
  }